{% comment %}
  I can't imagine a reason why someone would add an online resume to a mobile
  start screen or to Windows Metro, so this only includes traditional favicons.
  There's a great reference for adding other sizes/types here:
  https://github.com/audreyr/favicon-cheat-sheet
{% endcomment %}
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
